{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "18"
      },
      "modules": false
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}